<!DOCTYPE html>
<html>

<head>
    <title> Rainbow six siege</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Roboto:ital,wght@0,100;0,400;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <style>
        body {
            padding: 50px;
            font-family: 'Montserrat', sans-serif !important;
            background-color: #343d4b !important;
            padding: 0;

        }

        .head-col {
            background-color: #222831;
        }

        .champ-card {
            background-color: #808080 !important;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12 head-col d-flex align-item-center justify-content-center p-5 shadow mb-4">
                <img src="./images/logo.png" alt="Rainbow six siege">
            </div>
            <div class="col-12 px-3 mb-3 d-flex justify-content-between">
                <p class="h5 text-white">Operators list</p>
                <div>
                    <a href="/database" class="btn btn-light">Database listing</a>
                    <a href="/json-load" class="btn btn-light">Json listing</a>
                    <a href="/json-load/add" class="btn btn-light">Add Operator</a>
                </div>
            </div>

            <div class="col-12">
                <div class="row">

               

                <% data.forEach(function(d) { %>
                

<div class="col-2">
    <div class="card champ-card" style="width: 18rem;">
        <img src=<%= d.img %> class="card-img-top" alt="Jäger">
        <div class="card-body text-white">
            <h5 class="card-title"><%= d.name %></h5>
            <p class="card-text"><%= d.tactic %></p>
            <a href=<%= d.link %> target="_blank"
                class="btn btn-light">Click for more</a>
        </div>
    </div>
</div>
                
            <% }); %>
        

            </div>
            </div>
            </div>
            </div>
            
            
            
            </body>
            
            </html>